<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>intunation</title>
  <link rel="icon" href="favicon.png" type="image/png" />

  <!-- Use mobile-aware viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load style sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}"></script>

  <!-- Load jQuery & other minified dependencies-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>

  <!-- Load local JS files-->
  <script type=text/javascript src="{{url_for('static', filename='js/volume-meter.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/progressTimer.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/gauge.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/chartConfig.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/recorder.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/exercises.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
</head>

<body>

  <!-- SIGN IN MODAL -->
  <div class="modal" id="signin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Welcome to <strong>intunation.</strong></h2>
        </div>
        <div class="modal-body">
          <div id="select-menu" class="input-group form-group">
              Username: <input type="text" class="form-control" id="userName" placeholder="Eran Egozy" maxlength="10"><br>
              Pick your poison:
              <select id="level-select" class="form-control"></select>
          </div>
          <div id="instructions">
                Here's how to play Intunation...
                <ol>
                  <li> Press <i class="glyphicon glyphicon-play-circle"></i> to listen to what you should sing. </li>
                  <li> Press <i class="glyphicon glyphicon-record"></i> to record the exercise. </li>
                  <li> Press <i class="glyphicon glyphicon-edit"></i> to autotune the audio and hear how you should sound. </li>
                  <li> Press <i class="glyphicon glyphicon-ok"></i> to move on to the next exercise! </li>
                </ol>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="signin-btn" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>

    <!-- LEVEL COMPLETE MODAL -->
  <div class="modal" id="complete-level" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Level complete!</strong></h2>
        </div>
        <div class="modal-body">
          <div> Great job. You just completed a level, and are on your way to becoming an ear training master!</div>
          <button type="button" id="complete-level-btn" class="btn btn-success">Continue</button>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- USER METADATA -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>intunation</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a><div id="user"></div></a></li>
          <li class="nav-item"><a><div id="score"></div></a></li>
          <li class="nav-item"><a><div id="level"></div></a></li>
          <li class="nav-item"><a><canvas id="meter" width="800" height="100"></canvas></a></li>
        </ul>
        <div class="nav navbar-text progress" style="width: 30%">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="progress"></div>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



<!-- CORE INTERFACE --> 
<div class="container">
    <div class="row"> <br>
        <div class="col-md-12">
            <div class="row">
                <div id="metadata" class="col-md-5">  
                  <div id="level"></div>
                  <div id="controls">
                     <div id="exercise"></div>
                     <br>
                     <div id="control-btns">
                     <button type="button" id="play-btn" class="btn btn-primary ctrl-btn">1 <i class="glyphicon glyphicon-play-circle"></i></button>
                     <button type="button" id="record-btn" class="btn btn-record ctrl-btn">2 <i class="glyphicon glyphicon-record"></i></button>
                     <button type="button" id="autotune-btn" class="btn btn-warning ctrl-btn">3 <i class="glyphicon glyphicon-edit"></i></button>
                     <button type="button" id="ok-btn" class="btn btn-success ctrl-btn">4 <i class="glyphicon glyphicon-ok"></i></button>
                    </div>
                  </div>
                  <br>
                  <div id="recordingCue"></div>
                  <div id="progressTimer"></div>
                  <div>
                    <div id="wsRPlay" class="wavesurferPlay"></div>
                    <div class="wavesurferCont" id="wavesurferRecorded"></div>
                  </div>
                  <div>
                    <div id="wsAPlay" class="wavesurferPlay"></div>
                    <div class="wavesurferCont" id="wavesurferAutotuned"></div>
                  </div>
                
                </div>
                <div id="audioDisp" class="col-md-7">
                  <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>