<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>intunation</title>
  <link rel="icon" href="favicon.png" type="image/png" />

  <!-- Use mobile-aware viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load style sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  <!-- Load jQuery and whatever other JS we need -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/recorder.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>


</head>

<body>

  <!-- HEADER -->
  <header>
    <h1>intunation.</h1>
  </header>

  <!-- BACKGROUND WHILE LOGGING IN --> 
  <div id="dimScreen"></div> 

  <!-- SIGN IN MODAL -->
  <div class="modal" id="signin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Welcome to <strong>intunation</strong></h2>
        </div>
        <div class="modal-body">
          <div class="input-group">
              Username: <input type="text" id="userName"><br>
              Pick your poison:
              <select id="level-select">
                <option value="Level 1: Pitch">Level 1: Pitch</option>
                <option value="Level 2: Interval">Level 2: Interval</option>
                <option value="Level 3: Melody">Level 3: Melody</option>
              </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="signin-btn" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CORE FUNCTION -->

  <div class="container">
    <div class="row">
      <div class="col">
        <div id="metadata">
          <div id="user"></div>
          <div id="score">Score: 0</div>
          <div id="level"></div>
        </div>
      </div>
      <div class="col-8">
        <div id="controls">
           <div id="exercise"> Please record a concert A. </div>
           <button type="button" id="play-btn" class="btn btn-primary">Play Note</button>
           <button type="button" id="record-btn" class="btn btn-primary">Record</button>
           <button type="button" id="playback-btn" class="btn btn-primary">Playback Recording</button>
           <button type="button" id="autotune-btn" class="btn btn-primary">Autotune/Score</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div="audio-el">
        <audio id="playback"></audio>
        <audio id="autotune"></audio>
      </div>
    </div>
  </div>

</body>

</html>