@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato|Oswald);

body {
  font-family: 'Lato', sans-serif;
}

/*header {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(122, 66, 244);
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  color: white;
}*/

.modal {
  background: rgba(40, 40, 210, 0.7);
}

#metadata { 
  padding-right:20px; 
  border-right: 1px 
  solid #ccc;
}

#audioDisp { 

}

#exercise { 
  font-size:1.25em;
}

#record-btn.btn-success { 
  background-color: purple;
  border-color: DarkMagenta;
}
#record-btn.:disabled {
  background-color: mediumorchid;
  border-color: orchid;
}

#audioDisp { 
  vertical-align: middle;
}

.wavesurferCont { 
  width : 70%;
  display:inline-block;
  vertical-align: middle;
}

.wavesurferPlay { 
  display:inline-block;
  vertical-align: middle;
}