@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
  font-family: 'Nunito', sans-serif;
}

.modal {
  background: rgba(45, 163, 161, 0.7);
}

#metadata { 
  padding-right:20px; 
  border-right: 1px 
  solid #ccc;
}

#exercise { 
  font-size:1.25em;
}

.ctrl-btn { 
  width: 20%;
}

.btn-record { 
  background-color: purple;
  border-color: DarkMagenta;
  color: white;
}
.btn-record:disabled {
  background-color: mediumorchid;
  border-color: orchid;
  color: white;
}
.btn-record:hover:enabled { 
  background-color: Indigo;
  border-color: DarkMagenta;
  color: white;
}
.btn-record:focus { 
  color: white;
}

#audioDisp { 
  vertical-align: middle;
}

.wavesurferCont { 
  width : 70%;
  display:inline-block;
  vertical-align: middle;
}

.wavesurferPlay { 
  display:inline-block;
  vertical-align: middle;
}

/*#chart{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/